*{
    padding:0px;
    margin:0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
main{
    background: radial-gradient(#dce3e7 40%,#94a1a5,#929792,#71758a);
}




header{
    background-color: #BBBBBB;
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    left: 0;
}



.caja{
    width: 100%;
    height: 121px;
    background-color: rgb(164, 172, 179);
    padding: 0 20px;
   
}
.menu{
    max-width: 940px;
    margin: auto;
    height: 100%;
}
h1{
    display: inline;

}
h1 img{
    
    width:80px;
    border-radius: 90px;
    margin-left: 70px;

}
.redes-sociales{
    width: 100%;
    padding: 50px;
    
}
.redes-sociales a{
    font-size: 40px;
    padding: 10px;
}
nav{   
      
    position: fixed;
    margin-right: 20px;
    z-index: 99999;
    display: inline-block;
}


nav li{
    
    margin-top: 10px;
    display: inline-block;
    padding-left: 10px;
}
nav a{
    width: 100%;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    transition: all 300ms ease;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
    transform: scale(1.1);
  
}
.icon-menu{
    font-size: 30px;
    color: #000;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;

}
#label-check{
    width: 26px;
    height: 100%;
    display: none;
}
#check-menu{
    display: none;
}
.principal, .sobre-mi{
    padding: 3em 0;
    width: 100%;
    margin: 0 auto;
    padding: 142px 50px;
    background: linear-gradient(rgba(243, 239, 239, 0.733));

}
.tecnologiaaaa{
    width: 30%;
    float:left;
    margin: 0 50px 50px 0;
    
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px#000000;
}
.tecnologiaaaa:hover{
    opacity: 0.3;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin:0 0 1em;
    clear: left;

}
.principal p{
    margin:0 0 1em;
    text-align: center;
    font-size: 22px;
}

.sobre-mi p{
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    width: 100%;
}

/*----------skills*/

.skills{
    padding: 142px 50px;
    

}

/* ==========================================================================
	Estilos para un espect en vertical
========================================================================== */
@media screen and (orientation:portrait){
	.habilidades{
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }
        
    @keyframes cambio2 {
        0%{
            left: 0%;
        }
        9%{
            left: 0%;
        }
        18%{
            left: -100%;
        }
        27%{
            left: -100%;
        }
        36%{
            left: -200%;
        }
        45%{
            left: -200%;
        }
        54%{
            left: -300%;
        }
        63%{
            left: -300%;
        }
        72%{
            left: -400%;
        }
        81%{
            left: -400%;
        }
        90%{
            left: -500%;
        }
        100%{
            left: -500%;
        }
    }
    .habilidades ul {
            display: flex;
            padding: 0;
            width: 600%;
            position: relative;
            animation: cambio2 15s linear infinite alternate;
        }
            .habilidades li {
                text-align: center;
                padding: 30px 50px;
                border: 2px solid black;
                border-radius: 20px;
                background: #c1d40e;
                width: calc((100% / 6) - 60px);
                box-sizing: border-box;
                margin: 0px 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
            }
                .habilidades img {
                    width: 150px;
                    height: auto;
                    margin: 0px 0px 20px;
                }
}


/* ==========================================================================
	Estilos para un espect en horizontal
========================================================================== */
@media screen and (orientation:landscape){
    .habilidades{
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }
        
    @keyframes cambio2 {
        0%{
            left: 0%;
        }
        14.28%{
            left: 0%;
        }
        28.57%{
            left: -33.33%;
        }
        42.85%{
            left: -33.33%;
        }
        57.14%{
            left: -66.66%;
        }
        71.42%{
            left: -66.66%;
        }
        85.71%{
            left: -100%;
        }
        100%{
            left: -100%;
        }
    }
    .habilidades ul {
            display: flex;
            padding: 0;
            width: 200%;
            position: relative;
            animation: cambio2 15s linear infinite alternate;
        }
            .habilidades li {
                text-align: center;
                padding: 30px 50px;
                border: 2px solid black;
                border-radius: 20px;
                background: #c1d40e;
                width: calc((100% / 6) - 60px);
                box-sizing: border-box;
                margin: 0px 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
            }
                .habilidades img {
                    width: 150px;
                    height: auto;
                    margin: 0px 0px 20px;
                }
}



/*--------------hobbies*/

.hobbies, .proyectos{
    width: 100%;
    margin:0 auto;
    padding: 142px 50px;
}
.formulario{
    width: 70%;
    margin:0 auto;
    padding: 142px 50px;

}

.hobbies li{
    display: inline-block;
    width: 40%;
    padding: 30px 20px;
    margin-left: 40px;
    text-align: center;
}
.hobbies img{
    width: 50%;
    height: 300px;
    margin:30px;
    
    box-shadow: 10px 20px 30px 15px #000000;
    transition: 2s all;
}
.hobbies img:hover{
    transform: rotate(-10deg);
}
  


/*formacion*/
.formacion{
    width: 100%;
    height: 500px;
    padding: 142px 50px;
}

.academico-all{
    width: 210px;
    margin:auto;
    perspective: 1000px;
    position: relative;
    
}
.contenedor{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
    
}
.contenedor figure{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: absolute;

}
.contenedor figure:nth-child(1){transform:rotateY(60deg) translateZ(300px);}

.contenedor figure:nth-child(2){transform:rotateY(120deg) translateZ(300px);}

.contenedor figure:nth-child(3){transform:rotateY(180deg) translateZ(300px);}

.contenedor figure:nth-child(4){transform:rotateY(240deg) translateZ(300px);}

.contenedor figure:nth-child(5){transform:rotateY(300deg) translateZ(300px);}

.contenedor figure:nth-child(6){transform:rotateY(360deg) translateZ(300px);}

.contenedor img{
    margin:40px;
    width: 80%;
    height: 200px;
    display: inline-block;
    
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

.btn{
    width: 50%;
    color:#fefefe;
    text-align: center;

    margin-top: 80px;
    background: #0b22aa;
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 2em;
    
  
}
.oculto{
    display: none;
}

/*__________________galeria de certificados____________*/

.diplomas{

    max-width: 100%;
    margin: 40px 20px 40px 50px;
}
.carrusel-contenedor{
    position: relative;
}
.carrusel-anterior, .carrusel-siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border:none;
    top:calc(50% - 35px);
    cursor:pointer;
    line-height: 30px;
    text-align: center;
    background:#000000;
    color: white;
    opacity: 50%;

}
.carrusel-anterior{
    left: -30px;
}
.carrusel-siguiente{
    right: -30px;
}
.carrusel-anterior:hover, .carrusel-siguiente:hover{
    opacity: 100%;
}









/*____________proyectos-----------*/


   

.imgencriptador, .imgahorcado{
    box-shadow: 10px 20px 30px 15px #000000;
    width: 50%;
}
.encriptador, .ahorcado{
    display: flex;
    gap:1rem;
    padding:2rem 0;
    margin: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    

    
}
.encriptador .detalle, .ahorcado .detalle{
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 30%;
}
.detalle a{
    padding: 30px;
    color:#000000;
    margin:20px;
    background: #33afe0;
    border-radius: 50px;
    transition: 1s all;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.detalle a:hover{
    transform: scale(1.2);
    background:#569ae7 ;
}
/*__________________-contacto__________*/
form h2,form p{
    text-align: center;
    line-height: 1.4em;
    color: #ec7819;
    margin: 30px;
}
form label,form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color:#e7f713;
}
.input-patron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 80%;
}
.contacto{
    width: 50%;
    padding: 20px 0;
    font-size: 20px;
    color: #0b22aa;
    background: #e4e00a;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor:pointer;
    margin: 20px 0;
}
.contacto:hover{
    transform: scale(1.2);
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #BBBBBB;
    font-size: 20px;

}










@media screen and (max-width:750px) {
    header{
        position: fixed;
        width: 100%;
        top: 0;
    }
    nav{
        left: 0;
        top: 123px;
        width: 100%;
        
    }
    nav ul{
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 0;
        transition: all 300ms ease;
        background-color: rgb(164, 172, 179);
       
        opacity: 0;
        visibility: hidden;
        

    }
    nav a:hover{
        color: #c78c19;
        text-decoration: none;
        transform: scale(1);
      
    }
    nav a{
        display: block;
        padding: 12px;

    }
    .icon-menu{
        display: flex;
    }
    #check-menu:checked~nav ul{
        height: 500px;
        visibility: visible;
        opacity: 1;

    }
    #label-check{
        display: inline-block;
    }
    .caja{
        width: auto;
        padding: 30px;
        
    }
    h1 img{
        display:inline;
        width: 50px;
    }
    .principal,.sobre-mi, .sobre-mi p,.hobbies, .proyectos, .formulario{
        width: 100%;
    }
    .redes-sociales{
       
        padding: 20px;
        
    }
    
    
    .redes-sociales a{
        font-size: 30px;
       
    }
    .habilidades{
   
        width: 100%;
        
      
    }
    .hobbies img{
        width: 120px;

    }
    .btn{
        width: 80%;
        margin-left: 30px;
        
    }
    
.contenedor figure:nth-child(1){transform:rotateY(60deg) translateZ(150px);}

.contenedor figure:nth-child(2){transform:rotateY(120deg) translateZ(150px);}

.contenedor figure:nth-child(3){transform:rotateY(180deg) translateZ(150px);}

.contenedor figure:nth-child(4){transform:rotateY(240deg) translateZ(150px);}

.contenedor figure:nth-child(5){transform:rotateY(300deg) translateZ(150px);}

.contenedor figure:nth-child(6){transform:rotateY(360deg) translateZ(150px);}



.detalle a{
    padding:25px;
    text-align: center;
}
.encriptador,.ahorcado{
    display: block;
}
.imgencriptador,.imgahorcado{
    width: 100%;
}

.contacto{
    width: 100%;
    padding: 20px 30px;
}
.encriptador .detalle, .ahorcado .detalle{
    
    width: auto;
    margin:50px;
}
      

    
}


    
